{erl_opts, [debug_info]}.
{deps, [
    %{khepri, {git, "https://github.com/rabbitmq/khepri", {branch, main}}},
    {erl_cidr, "1.2.1"},
    {tomerl, "0.5.0"},
    {eqwalizer_support,
        {git_subdir, "https://github.com/whatsapp/eqwalizer.git", {branch, "main"},
            "eqwalizer_support"}}
]}.

{dialyzer, [
    {plt_extra_apps, [erl_cidr]}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [ebb]}
]}.

{erlfmt, [
    write,
    {print_width, 84}
]}.

{project_plugins, [
    rebar3_hex,
    rebar3_hank,
    rebar3_ex_doc,
    erlfmt
]}.

{hex, [
    {doc, #{provider => ex_doc}},
    {exclude_deps, [eqwalizer_support]}
]}.

{hank, [
    {ignore, [
        {"include/dhcp.hrl", [single_use_hrls, single_use_hrl_attrs]}
    ]}
]}.
